<div class="row">

  <div class="card" style="width: 18rem">
    <div class="card-body">

      <h5 class="card-title">{{blog.title}}</h5>

      <h6 class="card-subtitle mb-2 text-muted">Posted by:
        {{blog.user.name}}
        on
        {{format_date blog.date_created}}
      </h6>
      <p class="card-text">
        {{blog.description}}
      </p>

    </div>
  </div>
</div>

<div>Comments Added: </div>
{{#each comments as |comment|}}
  <div class="row">
    <div class="card" style="width: 18rem">
      <div class="card-body">

        <h6 class="card-subtitle mb-2 text-muted">Posted by:
          {{comment.user.name}}
          on
          {{format_date comment.date_created}}
        </h6>
        <p class="card-text">
          {{comment.comment_text}}
        </p>

      </div>
    </div>
  </div>

{{/each}}

<div>
  <br />
  <button id="comment-btn">Add a Comment</button>

  <form
    style="display:none"
    data-blog-id={{blog.id}}
    id="new-comment"
    class="blog"
  >
    <div class="mb-3">
      <label
        for="exampleFormControlTextarea1"
        class="form-label"
      >Comment</label>
      <textarea class="form-control" id="commentText" rows="3"></textarea>
    </div>
    <button>Submit</button>
  </form>
</div>

<script src="/js/singleblog.js"></script>