<div class="row">
  Edit post
  {{blog.user_id}}
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <a href="/blog/{{blog.id}}">
        <h5 class="card-title">{{blog.title}}</h5>
      </a>
      <h6 class="card-subtitle mb-2 text-muted">Posted by:
        {{blog.user.name}}
        on
        {{format_date blog.date_created}}
      </h6>
      <p class="card-text">
        {{blog.description}}
      </p>

    </div>
  </div>
</div>
<div>
  <button id="delete-post">Delete post</button>
</div>

<div>Comments ADDED</div>
{{#each comments as |comment|}}
  <div class="row">
  <div class="card" style="width: 18rem">
    <div class="card-body">

        <h5 class="card-title">{{comment.comment_text}}</h5>
      </a>
      <h6 class="card-subtitle mb-2 text-muted">Posted by:
        {{comment.user.name}}
        on
        {{format_date comment.date_created}}
      </h6>
      <p class="card-text">
        {{comment.comment_text}}
      </p>

    </div>
  </div>
</div>

 {{/each}}

<div>
  <h2>Add a Comment</h2>
  <form data-blog-id={{blog.id}} id="new-comment" class="blog">
    <div class="mb-3">
      <label
        for="exampleFormControlTextarea1"
        class="form-label"
      >Comment</label>
      <textarea class="form-control" id="commentText" rows="3"></textarea>
    </div>
    <button>Submit</button>
  </form>
</div>



<script src="/js/singleblog.js"></script>